html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #181413;
    background: #f6f6f6;
  }
}

.responsive-nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.responsive-desktop {
  display: block !important;
}

.responsive-mobile {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .responsive-desktop {
    display: none !important;
  }
  .responsive-mobile {
    display: block !important;
  }
  .responsive-nav-icons {
    display: none;
  }
}
