html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #181413;
    background: #f6f6f6;
  }
}

.article-image {
  height: 250;
  overflow: 'hidden';
}

.responsive-nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.responsive-desktop {
  display: block !important;
}

.responsive-mobile {
  display: none !important;
}

.responsive-sidebar-menu {
  padding: 0 20px !important;
}
.responsive-sidebar-logo {
  width: 70px;
  height: 51px;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .responsive-desktop {
    display: none !important;
  }
  .responsive-mobile {
    display: block !important;
  }
  .responsive-nav-icons {
    display: none;
  }
  .responsive-sidebar-menu {
    padding: 0 6px !important;
  }

  .responsive-sidebar-logo {
    width: 50px;
    height: 31px;
  }
}
